@font-face {
	font-family: 'Conv_mistral';
	src: url('../fonts/mistral.eot');
	src: local('☺'), url('../fonts/mistral.woff') format('woff'), url('../fonts/mistral.ttf') format('truetype'), url('../fonts/mistral.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: Loveletter;
    src: url(../fonts/Loveletter.ttf);
}

body {
    background: #FFF2F4;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #101010;
}

.page-header {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 50px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.h1 {
    font-family: Loveletter;
    font-size: 71px;
    line-height: 84px;
    color: #4D0F4F;
    margin-top: auto;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    font-family: 'Conv_mistral';
    font-size: 64px;
    line-height: 106px;
    color: #4D0F4F;
    margin: 0;
}
.form .h2 {
    line-height: 75px;
    margin-bottom: 25px;
}

.logo {
    font-family: 'Conv_mistral';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #AB1860;
    padding-left: 40px;
}

.nav {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(24px);
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 27px;
    color: #4D0F4F;
    text-decoration: none; 
    cursor: pointer;
}
.menu-link:hover {
    color: #4D0F4F;
    text-decoration: none;
}

.menu-item {
    position: relative;
    cursor: pointer;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.menu-item:last-child {
    padding-right: 40px;
}
.keki-dropdown .menu-item {
    margin-right: 0;
}

.keki-dropdown {
    list-style: none;
    display: none;
    flex-direction: column;
    background: #FFF2F4;
    border: 1px solid #F2C0D9;
    box-sizing: border-box;
    border-radius: 4.5px;
    width: 110px;
    padding: 0;
    padding-left: 14px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-top: 10px;
    position: absolute;
    right: 4px;
    bottom: -100px;
}
.keki-dropdown .menu-link {
    border-bottom: 1px solid #f7d2d4;
    padding-bottom: 5px;
    display: block;
    padding-top: 5px;
}
.keki-dropdown .menu-item:last-child .menu-link {
    border: none;
}

.dropdown-icon {
    display: flex;
    align-items: center;
}
.dropdown-icon:after {
    content: '';
    display: block;
    width: 12px;
    height: 9px;
    background-image: url(../img/dropdown-icon.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 3px;
}

.burger-btn {
    background: none;
    border: none;
    display: none;
    flex-direction: column;
    width: 30px;
    height: 16px;
    justify-content: space-between;
    padding: 0;
    align-items: flex-end;
    outline: none;
}
.burger-btn span {
    display: block;
    width: 30px;
    height: 2px;
    background: #AB1860;
    border-radius: 10px;
}
.burger-btn span:nth-child(3) {
    width: 22px;
}

.offer-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 117px);
}

.h1:before {
    display: block;
    content: '';
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.58) 49.48%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20.97px);
    border-radius: 79.11px;
    width: 130%;
    height: 110px;
    z-index: -1;
    position: relative;
    top: 75px;
    text-align: center;
}

.p-s {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #AB1860;
    opacity: 0.1;
    margin-top: auto;
    padding-bottom: 45px;
}

.slider-img {
    margin: 0;
    padding: 0;
}

.pafos-1 {
    background-color: #ffffff;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 187px;
    padding-bottom: 187px;
}

.pafos-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pafos-textblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(24px);
    border-radius: 20px;
    padding-left: 48px;
    padding-top: 10px;
    padding-right: 51px;
    padding-bottom: 44px;
    box-sizing: border-box;
    position: relative;
}

.pafos-1 .pafos-textblock {
    margin-left: -388px;
    width: 617px;
    height: 352px;
}

.pafos-text {
    line-height: 180%;
    margin: 0;
    margin-bottom: 21px;
}

.pafos-1-img {
    filter: drop-shadow(0px 11px 24px rgba(213, 62, 86, 0.17));
    border: 14px solid #FFFFFF;
    border-radius: 20px;
}

.pafos-2-img {
    position: relative;
    border: 14px solid #FFF2F4;
    filter: drop-shadow(0px 11px 24px rgba(213, 62, 86, 0.17));
    border-radius: 20px;
    left: -15px;
}

.tooltip {
    color: #AB1860;
    cursor: pointer;
}

.like {
    font-weight: bold;
    font-size: 16px;
    line-height: 180%;
    color: #AB1860;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    outline: none;
}

.like-heart {
    margin-right: 9px;
}

.likes-counter {
    margin-right: 5px;
}

.pafos-2 {
    padding-top: 187px;
    padding-bottom: 187px;
}

.chat {
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 117px;
    padding-bottom: 134px;
}

.chat-container {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 920px;
}

.chat-item {
    background: rgba(254, 255, 214, 0.45);
    border: 2px solid #FFE7E7;
    box-sizing: border-box;
    backdrop-filter: blur(18px);
    border-radius: 20px;
    padding-left: 47px;
    padding-right: 60px;
    padding-bottom: 40px;
    width: auto;
    filter: drop-shadow(0px 12px 19px rgba(223, 144, 153, 0.28));
}
.chat-item:not(:last-child) {
    margin-bottom: 70px;
}
.chat-item:nth-child(even) {
    background: rgba(255, 255, 255, 0.56);
    border: 2px solid #FFE7E7;
    margin-left: auto;
} 
.chat-item:nth-child(1) {
    width: 501px;
}
.chat-item:nth-child(2) {
    width: 501px;
}
.chat-item:nth-child(3) {
    width: 630px;
}
.chat-item:nth-child(4) {
    width: 520px;
}

.name {
    font-weight: 900;
    font-size: 25px;
    line-height: 180%;
    color: #AB1860;
    margin: 0;
    margin-top: -70px;
}

.msg-body {
    font-size: 17px;
    line-height: 180%;
    margin: 0;
}

.current-time {
    font-size: 20px;
    line-height: 180%;
    color: #DA85AF;
    margin-left: auto;
    display: block;
    text-align: right;
    position: relative;
    right: -40px;
    top: 10px;
}

.av-link {
    position: relative;
    top: -80px;
    display: block;
    width: 82px;
}

.chat-h2 {
    font-family: 'Conv_mistral';
    font-size: 64px;
    line-height: 106px;
    color: #4D0F4F;
    margin: 0;
    text-align: center;
}

.form {
    padding-top: 125px;
    padding-bottom: 120px;
}
.form .h2 {
    text-align: center;
}

.naeb {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.discriptor {
    font-size: 14px;
    line-height: 170%;
    text-align: center;
    color: #FF7979;
    max-width: 378px;
    margin: 0;
}

.nickname {
    background: rgba(255, 255, 255, 0.78);
    border: 1px solid #E0C3DC;
    box-sizing: border-box;
    border-radius: 15px;
    width: 100%;
    height: 67px;
    font-size: 17px;
    line-height: 180%;
    color: #E4C1C1;
    padding-left: 20px;
    outline: none;
    margin-bottom: 15px;
}
.nickname::-webkit-input-placeholder {
    color: #E4C1C1;
}
.nickname::-moz-placeholder {
    color: #E4C1C1;
}
.nickname:-moz-placeholder {
    color: #E4C1C1;
}
.nickname:-ms-input-placeholder {
    color: #E4C1C1;
}

.message {
    background: rgba(255, 255, 255, 0.78);
    border: 1px solid #E0C3DC;
    box-sizing: border-box;
    border-radius: 15px;
    resize: vertical;
    font-size: 17px;
    line-height: 180%;
    color: #E4C1C1;
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    outline: none;
    margin-bottom: 17px;
}
.message::-webkit-input-placeholder {
    color: #E4C1C1;
}
.message::-moz-placeholder {
    color: #E4C1C1;
}
.message:-moz-placeholder {
    color: #E4C1C1;
}
.message:-ms-input-placeholder {
    color: #E4C1C1;
}

.submit {
    border: 2px solid #AB1860;
    box-sizing: border-box;
    border-radius: 65px;
    outline: none;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #AB1860;
    background: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
    margin-bottom: 17px;
    text-decoration: none;
}

.footer {
    background: linear-gradient(89.28deg, #FFDCE3 0.41%, rgba(255, 226, 232, 0) 99.51%);
    padding-top: 60px;
    padding-bottom: 15px;
    position: relative;
    z-index: 0;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.social {
    list-style: none;
}

.social-dropdown {
    list-style: none;
}

.footer-wrapper {
    background: #FFFCFD;
    border-radius: 20px 0px 0px 20px;
    padding-left: 110px;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.footer:before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 222px;
    right: 0;
    background-color: #FFFCFD;
    z-index: -1;
    top: 60px;
}

.social {
    display: flex;
    padding: 0;
}

.social-item {
    background: #FFF2F4;
    border: 1px solid #F2C0D9;
    box-sizing: border-box;
    border-radius: 4.50607px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-position: center;
    opacity: 0.65;
    cursor: pointer;
}
.social-item:nth-child(1) {
    background-image: url(../img/vk-icon.png);
    margin-right: 8px;
}
.social-item:nth-child(2) {
    background-image: url(../img/inst-icon.png);
}
.social-item:hover {
    opacity: 1;
}

.footer .footer-wrapper {
    margin-left: 12%;
}

.footer .logo {
    padding-left: 0;
}

.copyright {
    font-size: 13px;
    line-height: 33px;
    text-align: center;
    color: #DA85AF;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    display: block;
    position: relative;
}
.copyright:after {
    margin-left: 10px;
    content: '...но не от Розы';
    font-size: 13px;
    line-height: 33px;
    color: #F2C0D9;
    position: absolute;
}

.tooltip-show {
    display: none;
    position: fixed;
    right: 0;
    top: 50%;
    background: #FFF2F4;
    border: 1px solid #F2C0D9;
    box-sizing: border-box;
    border-radius: 4.5px;
    width: auto;
    padding: 0;
    padding-left: 14px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-top: 10px;
}

.tooltip-exit {
    margin-right: 10px;
    cursor: pointer;
}

.show {
    display: flex;
}